/* Author: Theoayman Haid De Azevedo
Individual element - wrote the code */

body { 
    background-color: #0072ce; 
    height: 100vh; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}
.login-card { 
    width: 100%; 
    max-width: 400px; 
    background: white; 
    padding: 2.5rem; 
    border-radius: 16px; 
    box-shadow: 0 4px 12px rgba(0,0,0,0.1); }

.logo-container { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin-bottom: 1.5rem; 
    color: #0072ce; 
}

.logo-icon { 
    font-size: 4rem; 
    line-height: 1; 
}

.logo-text { 
    font-size: 1.5rem; 
    font-weight: 600; 
    margin-top: 0.5rem; 
}

.btn-primary { 
    background-color: #0072ce; 
    border: none; 
    padding: 0.6rem; 
}